<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="TokikuEntities" connectionString="metadata=res://*/Tokiku.csdl|res://*/Tokiku.ssdl|res://*/Tokiku.msl;provider=System.Data.SqlClient;provider connection string='data source=huangjihaodembp;initial catalog=Tokiku2_New;persist security info=True;user id=sa;password=!QAZ2wsx;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->
    <add name="TokikuEntities" connectionString="metadata=res://*/Tokiku.csdl|res://*/Tokiku.ssdl|res://*/Tokiku.msl;provider=System.Data.SqlClient;provider connection string='data source=220.130.128.36,1443;initial catalog=Tokiku2_New;persist security info=True;user id=sa;password=1qaz@WSX;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
     <!--<add name="TokikuEntities" connectionString="metadata=res://*/Tokiku.csdl|res://*/Tokiku.ssdl|res://*/Tokiku.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Tokiku2_New;persist security info=True;user id=sa;password=!QAZ2wsx;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\"/>
      <param name="DatePattern" value="'TokikuERP-'dd.MM.yyyy'.log'" />
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger: %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>